<!DOCTYPE html>
<html>
<head>
  <title>MRI AI Login</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="login-wrapper">
  <div class="login-card">

    <h2>Doctor Login</h2>

    <form method="post" action="/">
      <input type="text" name="username" placeholder="doctor" required>
      <input type="password" name="password" placeholder="ai123" required>
      <button type="submit">Login</button>
    </form>

    <div class="login-note">
      Secure AI Clinical Access
    </div>

  </div>
</div>

</body>
</html>
